[client]
log_level = {{ landscape_client_log_level }}
url = {{ landscape_client_server_url }}
ping_url = {{ landscape_client_server_ping_url }}
data_path = {{ landscape_client_data_path }}
computer_title = {{ landscape_client_computer_title }}
account_name = {{ landscape_client_account_name }}
{% if landscape_client_script_users %}
script_users = {{ landscape_client_script_users }}
{% endif %}
include_manager_plugins = {% if landscape_client_script_users %}ScriptExecution{% endif %}
access_group = {{ landscape_client_access_group }}
tags = {{ landscape_tags }}
{% if landscape_client_server_on_prem %}
ssl_public_key = {{ landscape_client_ssl_cert }}
{% endif %}
